:root {
  --color-background: #F5F7FA;
  --color-primary-teal: #0EA5A4;
  --color-secondary-teal: #E6F7F6;
  --color-dark-teal: #037773;
  --color-black-label: #0F1724;
  --color-grey-label: #6B7280;
  --color-disabled-grey: #F1F5F9;
  --color-white: #FFFFFF;
  --color-warning: #faad14;
  --color-error: #ff4d4f;
  --color-success: #10b981;
  --color-info: #16b1ff;
  --color-info-secondary: #60A5FA;
  --color-hover-grey: #0000000a;

  --font-h1-lg: 2.25rem;
  --font-h1-sm: 1.875rem;
  --font-h1-xsm: 1.5rem;

  --font-h2-xl: 1.3rem;
  --font-h2-lg: 1.2rem;
  --font-h2-sm: 1.1rem;

  --font-h3-xl: 1.125rem;
  --font-h3-lg: 1rem;

  --font-h4-xl: 0.875rem;
  --font-h4-lg: 0.75rem;
}

body {
  background-color: var(--color-background);
  box-sizing: border-box;
  margin: 0rem;
  font-family: Inter, 'Inter Fallback' !important;
  max-width: 950px;
  margin: 0 auto;

  p {
    margin: 0rem;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 0.7rem;
  }

  *::-webkit-scrollbar-track {
    background: var(--color-white);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--color-primary-teal);
    border-radius: 10px;
    border: 3px solid var(--color-white);
  }
}