.translator-container {
  // height: 40rem;
  background-color: var(--color-secondary-teal);
  border-radius: 0.5rem;
  margin: 2rem 2rem;
  display: flex;
  flex-direction: column;
  padding: 1.6rem 1.4rem;
}